body {
    background-color: black;
}

img {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: appear 4s ease-in;
    width: 75%;
}

footer {
    text-align: center;
    padding-top: 300px;
}



li {
    display: inline;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    animation: appear 4s 2s ease-in forwards;
    opacity: 0%;
}


.fa-youtube {
    color: red;
    size-adjust: 200%;
}

.fa-instagram {
    color: red;
}

@keyframes appear{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

